################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/WinglyShop.Shared/obj/Debug/net8.0/WinglyShop.Shared.AssemblyInfo.cs
/WinglyShop.Shared/obj/Debug/net8.0/WinglyShop.Shared.AssemblyInfoInputs.cache
/WinglyShop.Infrastructure/obj/Debug/net8.0/WinglyShop.Infrastructure.AssemblyInfo.cs
/WinglyShop.Infrastructure/obj/Debug/net8.0/WinglyShop.Infrastructure.AssemblyInfoInputs.cache
*.vsidx
/WinglyShop.API/obj/Debug/net8.0/WinglyShop.API.AssemblyInfo.cs
/WinglyShop.API/obj/Debug/net8.0/WinglyShop.API.AssemblyInfoInputs.cache
/WinglyShop.Application/obj/Debug/net8.0/WinglyShop.Application.AssemblyInfo.cs
/WinglyShop.Application/obj/Debug/net8.0/WinglyShop.Application.AssemblyInfoInputs.cache
/WinglyShop.Domain/obj/Debug/net8.0/WinglyShop.Domain.AssemblyInfo.cs
/WinglyShop.Domain/obj/Debug/net8.0/WinglyShop.Domain.AssemblyInfoInputs.cache
*.suo
/.vs/WinglyShop/DesignTimeBuild
/.vs/WinglyShop/config
/WinglyShop.Shared/obj/Debug/net8.0/ref/WinglyShop.Shared.dll
/WinglyShop.Shared/obj/Debug/net8.0/refint/WinglyShop.Shared.dll
/WinglyShop.Shared/obj/Debug/net8.0/WinglyShop.Shared.csproj.FileListAbsolute.txt
/WinglyShop.Infrastructure/bin/Debug/net8.0/WinglyShop.Application.dll
/WinglyShop.Infrastructure/bin/Debug/net8.0/WinglyShop.Application.pdb
/WinglyShop.Infrastructure/bin/Debug/net8.0/WinglyShop.Domain.pdb
/WinglyShop.Infrastructure/bin/Debug/net8.0/WinglyShop.Infrastructure.pdb
/WinglyShop.Infrastructure/bin/Debug/net8.0/WinglyShop.Domain.dll
/WinglyShop.Infrastructure/bin/Debug/net8.0/WinglyShop.Shared.dll
/WinglyShop.Infrastructure/bin/Debug/net8.0/WinglyShop.Infrastructure.dll
/WinglyShop.Infrastructure/bin/Debug/net8.0/WinglyShop.Shared.pdb
/WinglyShop.Domain/obj/Debug/net8.0/ref/WinglyShop.Domain.dll
/WinglyShop.Domain/obj/Debug/net8.0/refint/WinglyShop.Domain.dll
/WinglyShop.Domain/obj/Debug/net8.0/WinglyShop.Domain.csproj.CoreCompileInputs.cache
/WinglyShop.Domain/obj/Debug/net8.0/WinglyShop.Domain.csproj.FileListAbsolute.txt
/WinglyShop.Domain/obj/Debug/net8.0/WinglyShop.Domain.dll
/WinglyShop.Domain/obj/Debug/net8.0/WinglyShop.Domain.pdb
*.json
/WinglyShop.Application/obj/Debug/net8.0/refint/WinglyShop.Application.dll
/WinglyShop.Application/obj/Debug/net8.0/ref/WinglyShop.Application.dll
/WinglyShop.Application/bin/Debug/net8.0/WinglyShop.Application.dll
/WinglyShop.Application/bin/Debug/net8.0/WinglyShop.Domain.dll
/WinglyShop.Application/bin/Debug/net8.0/WinglyShop.Shared.dll
/WinglyShop.Application/bin/Debug/net8.0/WinglyShop.Application.pdb
/WinglyShop.Application/bin/Debug/net8.0/WinglyShop.Domain.pdb
/WinglyShop.Application/bin/Debug/net8.0/WinglyShop.Shared.pdb
/WinglyShop.API/obj/Debug/net8.0/apphost.exe
/WinglyShop.API/obj/Debug/net8.0/WinglyShop.API.csproj.AssemblyReference.cache
/WinglyShop.API/obj/Debug/net8.0/WinglyShop.API.csproj.CoreCompileInputs.cache
/WinglyShop.API/obj/Debug/net8.0/WinglyShop.API.csproj.FileListAbsolute.txt
/WinglyShop.API/obj/Debug/net8.0/WinglyShop.API.dll
/WinglyShop.API/obj/Debug/net8.0/WinglyShop.API.pdb
/WinglyShop.Infrastructure/obj/Debug/net8.0/WinglyShop.Infrastructure.csproj.AssemblyReference.cache
/WinglyShop.Infrastructure/obj/Debug/net8.0/WinglyShop.Infrastructure.csproj.FileListAbsolute.txt
/WinglyShop.Infrastructure/obj/Debug/net8.0/WinglyShop.Infrastructure.dll
/WinglyShop.Infrastructure/obj/Debug/net8.0/WinglyShop.Infrastructure.pdb
/WinglyShop.API/obj/Debug/net8.0/ref/WinglyShop.API.dll
/WinglyShop.API/obj/Debug/net8.0/refint/WinglyShop.API.dll
/WinglyShop.Application/obj/Debug/net8.0/WinglyShop.Application.csproj.AssemblyReference.cache
/WinglyShop.Application/obj/Debug/net8.0/WinglyShop.Application.csproj.CoreCompileInputs.cache
/WinglyShop.Application/obj/Debug/net8.0/WinglyShop.Application.csproj.FileListAbsolute.txt
/WinglyShop.Application/obj/Debug/net8.0/WinglyShop.Application.dll
/WinglyShop.Application/obj/Debug/net8.0/WinglyShop.Application.pdb
/WinglyShop.Domain/bin/Debug/net8.0/WinglyShop.Domain.dll
/WinglyShop.Domain/bin/Debug/net8.0/WinglyShop.Domain.pdb
/WinglyShop.Infrastructure/obj/Debug/net8.0/ref/WinglyShop.Infrastructure.dll
/WinglyShop.Infrastructure/obj/Debug/net8.0/refint/WinglyShop.Infrastructure.dll
/WinglyShop.Shared/bin/Debug/net8.0/WinglyShop.Shared.dll
/WinglyShop.Shared/bin/Debug/net8.0/WinglyShop.Shared.pdb
/WinglyShop.Shared/obj/Debug/net8.0/WinglyShop.Shared.dll
/WinglyShop.Shared/obj/Debug/net8.0/WinglyShop.Shared.pdb
/WinglyShop.API/bin/Debug/net8.0/WinglyShop.API.dll
/WinglyShop.API/bin/Debug/net8.0/WinglyShop.API.exe
/WinglyShop.API/bin/Debug/net8.0/WinglyShop.API.pdb
/WinglyShop.API/bin/Debug/net8.0/WinglyShop.Application.dll
/WinglyShop.API/bin/Debug/net8.0/WinglyShop.Application.pdb
/WinglyShop.API/bin/Debug/net8.0/WinglyShop.Domain.dll
/WinglyShop.API/bin/Debug/net8.0/WinglyShop.Domain.pdb
/WinglyShop.API/bin/Debug/net8.0/WinglyShop.Infrastructure.dll
/WinglyShop.API/bin/Debug/net8.0/WinglyShop.Infrastructure.pdb
/WinglyShop.API/bin/Debug/net8.0/WinglyShop.Shared.dll
/WinglyShop.API/bin/Debug/net8.0/WinglyShop.Shared.pdb
/WinglyShop.Application/obj/Debug/net8.0/WinglyShop.Application.assets.cache
/WinglyShop.Application/obj/Debug/net8.0/WinglyShop.Application.GeneratedMSBuildEditorConfig.editorconfig
/WinglyShop.Application/obj/project.assets.json
/WinglyShop.Application/obj/project.nuget.cache
/WinglyShop.Application/obj/WinglyShop.Application.csproj.nuget.dgspec.json
/WinglyShop.Application/obj/WinglyShop.Application.csproj.nuget.g.props
/WinglyShop.Domain/obj/Debug/net8.0/WinglyShop.Domain.assets.cache
/WinglyShop.Domain/obj/Debug/net8.0/WinglyShop.Domain.GeneratedMSBuildEditorConfig.editorconfig
/WinglyShop.Domain/obj/project.assets.json
/WinglyShop.Domain/obj/project.nuget.cache
/WinglyShop.Domain/obj/WinglyShop.Domain.csproj.nuget.dgspec.json
/WinglyShop.Domain/obj/WinglyShop.Domain.csproj.nuget.g.props
/WinglyShop.Infrastructure/obj/Debug/net8.0/WinglyShop.Infrastructure.assets.cache
/WinglyShop.Infrastructure/obj/Debug/net8.0/WinglyShop.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/WinglyShop.Infrastructure/obj/project.assets.json
/WinglyShop.Infrastructure/obj/project.nuget.cache
/WinglyShop.Infrastructure/obj/WinglyShop.Infrastructure.csproj.nuget.dgspec.json
/WinglyShop.Infrastructure/obj/WinglyShop.Infrastructure.csproj.nuget.g.props
/WinglyShop.Shared/obj/Debug/net8.0/WinglyShop.Shared.assets.cache
/WinglyShop.Shared/obj/Debug/net8.0/WinglyShop.Shared.GeneratedMSBuildEditorConfig.editorconfig
/WinglyShop.Shared/obj/project.assets.json
/WinglyShop.Shared/obj/project.nuget.cache
/WinglyShop.Shared/obj/WinglyShop.Shared.csproj.nuget.dgspec.json
/WinglyShop.Shared/obj/WinglyShop.Shared.csproj.nuget.g.props
/.vs/WinglyShop/v17/.wsuo
/WinglyShop.API/obj/Debug/net8.0/WinglyShop.API.assets.cache
/WinglyShop.API/obj/Debug/net8.0/WinglyShop.API.GeneratedMSBuildEditorConfig.editorconfig
/WinglyShop.API/obj/project.assets.json
/WinglyShop.API/obj/project.nuget.cache
/WinglyShop.API/obj/WinglyShop.API.csproj.nuget.dgspec.json
/WinglyShop.API/obj/WinglyShop.API.csproj.nuget.g.props
/WinglyShop.API/bin/Debug/net8.0/WinglyShop.API.deps.json
/WinglyShop.API/obj/Debug/net8.0/WinglySh.74E83BD4.Up2Date
/WinglyShop.API/obj/Debug/net8.0/WinglyShop.API.genruntimeconfig.cache
/WinglyShop.Application/obj/Debug/net8.0/WinglySh.C1DA4576.Up2Date
/WinglyShop.Infrastructure/obj/Debug/net8.0/WinglySh.CACA8C43.Up2Date
/WinglyShop.Infrastructure/obj/Debug/net8.0/WinglyShop.Infrastructure.csproj.CoreCompileInputs.cache
/WinglyShop.Shared/obj/Debug/net8.0/WinglyShop.Shared.csproj.CoreCompileInputs.cache
/.vs/ProjectEvaluation/winglyshop.metadata.v7.bin
/.vs/ProjectEvaluation/winglyshop.projects.v7.bin
/.vs/WinglyShop/v17/.futdcache.v2
/WinglyShop.Infrastructure/bin/Debug/net8.0/WinglyShop.Infrastructure.deps.json
/WinglyShop.Application/bin/Debug/net8.0/WinglyShop.Application.deps.json
/WinglyShop.API/bin/Debug/net8.0/WinglyShop.API.runtimeconfig.json
/WinglyShop.API/bin/Debug/net8.0/appsettings.json
/WinglyShop.API/bin/Debug/net8.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
/WinglyShop.API/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
/WinglyShop.API/bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
/WinglyShop.API/bin/Debug/net8.0/Microsoft.IdentityModel.Logging.dll
/WinglyShop.API/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.dll
/WinglyShop.API/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/WinglyShop.API/bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
/WinglyShop.API/bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
/WinglyShop.API/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
/WinglyShop.API/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/WinglyShop.API/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.resources.dll
/WinglyShop.API/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
/WinglyShop.API/bin/Debug/net8.0/Humanizer.dll
/WinglyShop.API/bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
/WinglyShop.API/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.dll
/WinglyShop.API/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
/WinglyShop.API/bin/Debug/net8.0/Microsoft.CodeAnalysis.dll
/WinglyShop.API/bin/Debug/net8.0/Microsoft.CodeAnalysis.Workspaces.dll
/WinglyShop.API/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/WinglyShop.API/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Design.dll
/WinglyShop.API/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
/WinglyShop.API/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
/WinglyShop.API/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.SqlServer.dll
/WinglyShop.API/bin/Debug/net8.0/Microsoft.Extensions.DependencyModel.dll
/WinglyShop.API/bin/Debug/net8.0/Mono.TextTemplating.dll
/WinglyShop.API/bin/Debug/net8.0/System.CodeDom.dll
/WinglyShop.API/bin/Debug/net8.0/System.Composition.AttributedModel.dll
/WinglyShop.API/bin/Debug/net8.0/System.Composition.Convention.dll
/WinglyShop.API/bin/Debug/net8.0/System.Composition.Hosting.dll
/WinglyShop.API/bin/Debug/net8.0/System.Composition.Runtime.dll
/WinglyShop.API/bin/Debug/net8.0/System.Composition.TypedParts.dll
/WinglyShop.API/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
/WinglyShop.API/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/WinglyShop.API/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
/WinglyShop.API/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
/WinglyShop.API/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
/WinglyShop.API/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/WinglyShop.API/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
/WinglyShop.API/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
/WinglyShop.API/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
/WinglyShop.API/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/WinglyShop.API/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.resources.dll
/WinglyShop.API/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/WinglyShop.API/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
/WinglyShop.API/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/WinglyShop.API/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.resources.dll
/WinglyShop.API/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
/WinglyShop.API/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
/WinglyShop.API/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/WinglyShop.API/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.resources.dll
/WinglyShop.API/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
/WinglyShop.API/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
/WinglyShop.API/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/WinglyShop.API/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.resources.dll
/WinglyShop.API/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/WinglyShop.API/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
/WinglyShop.API/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/WinglyShop.API/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.resources.dll
/WinglyShop.API/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
/WinglyShop.API/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
/WinglyShop.API/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/WinglyShop.API/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.resources.dll
/WinglyShop.API/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
/WinglyShop.API/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
/WinglyShop.API/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/WinglyShop.API/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.resources.dll
/WinglyShop.API/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
/WinglyShop.API/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
/WinglyShop.API/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/WinglyShop.API/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.resources.dll
/WinglyShop.API/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
/WinglyShop.API/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
/WinglyShop.API/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/WinglyShop.API/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
/WinglyShop.API/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
/WinglyShop.API/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
/WinglyShop.API/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/WinglyShop.API/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.resources.dll
/WinglyShop.API/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
/WinglyShop.API/obj/WinglyShop.API.csproj.nuget.g.targets
/WinglyShop.API/obj/Debug/net8.0/WinglyShop.API.MvcApplicationPartsAssemblyInfo.cs
/WinglyShop.Infrastructure/obj/WinglyShop.Infrastructure.csproj.nuget.g.targets
/WinglyShop.Application/obj/Debug/net8.0/WinglyShop.Application.genruntimeconfig.cache
/WinglyShop.Application/obj/WinglyShop.Application.csproj.nuget.g.targets
/.vs/WinglyShop/v17/HierarchyCache.v1.txt
/WinglyShop.Shared/bin/Debug/net8.0/WinglyShop.Shared.deps.json
/WinglyShop.Domain/bin/Debug/net8.0/WinglyShop.Domain.deps.json
/WinglyShop.API/bin/Debug/net8.0/appsettings.Development.json
/WinglyShop.API/bin/Debug/net8.0/Azure.Core.dll
/WinglyShop.API/bin/Debug/net8.0/Azure.Identity.dll
/WinglyShop.API/bin/Debug/net8.0/Dapper.dll
/WinglyShop.API/bin/Debug/net8.0/Microsoft.Data.SqlClient.dll
/WinglyShop.API/bin/Debug/net8.0/Microsoft.Identity.Client.dll
/WinglyShop.API/bin/Debug/net8.0/Microsoft.Identity.Client.Extensions.Msal.dll
/WinglyShop.API/bin/Debug/net8.0/Microsoft.OpenApi.dll
/WinglyShop.API/bin/Debug/net8.0/Microsoft.SqlServer.Server.dll
/WinglyShop.API/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
/WinglyShop.API/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/WinglyShop.API/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/WinglyShop.API/bin/Debug/net8.0/System.Configuration.ConfigurationManager.dll
/WinglyShop.API/bin/Debug/net8.0/System.Data.SqlClient.dll
/WinglyShop.API/bin/Debug/net8.0/System.Memory.Data.dll
/WinglyShop.API/bin/Debug/net8.0/System.Runtime.Caching.dll
/WinglyShop.API/bin/Debug/net8.0/System.Security.Cryptography.ProtectedData.dll
/WinglyShop.API/bin/Debug/net8.0/de/Microsoft.Data.SqlClient.resources.dll
/WinglyShop.API/bin/Debug/net8.0/fr/Microsoft.Data.SqlClient.resources.dll
/WinglyShop.API/bin/Debug/net8.0/es/Microsoft.Data.SqlClient.resources.dll
/WinglyShop.API/bin/Debug/net8.0/it/Microsoft.Data.SqlClient.resources.dll
/WinglyShop.API/bin/Debug/net8.0/ja/Microsoft.Data.SqlClient.resources.dll
/WinglyShop.API/bin/Debug/net8.0/ko/Microsoft.Data.SqlClient.resources.dll
/WinglyShop.API/bin/Debug/net8.0/pt-BR/Microsoft.Data.SqlClient.resources.dll
/WinglyShop.API/bin/Debug/net8.0/ru/Microsoft.Data.SqlClient.resources.dll
/WinglyShop.API/bin/Debug/net8.0/runtimes/unix/lib/net8.0/Microsoft.Data.SqlClient.dll
/WinglyShop.API/bin/Debug/net8.0/runtimes/unix/lib/netcoreapp2.1/System.Data.SqlClient.dll
/WinglyShop.API/bin/Debug/net8.0/runtimes/win/lib/net8.0/Microsoft.Data.SqlClient.dll
/WinglyShop.API/bin/Debug/net8.0/runtimes/win/lib/net8.0/System.Runtime.Caching.dll
/WinglyShop.API/bin/Debug/net8.0/runtimes/win/lib/netcoreapp2.1/System.Data.SqlClient.dll
/WinglyShop.API/bin/Debug/net8.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
/WinglyShop.API/bin/Debug/net8.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
/WinglyShop.API/bin/Debug/net8.0/runtimes/win-arm64/native/sni.dll
/WinglyShop.API/obj/Debug/net8.0/staticwebassets/msbuild.build.WinglyShop.API.props
/WinglyShop.API/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.WinglyShop.API.props
/WinglyShop.API/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.WinglyShop.API.props
/WinglyShop.API/obj/Debug/net8.0/staticwebassets.build.json
/WinglyShop.API/obj/Debug/net8.0/WinglyShop.API.MvcApplicationPartsAssemblyInfo.cache
/WinglyShop.API/bin/Debug/net8.0/zh-Hant/Microsoft.Data.SqlClient.resources.dll
/WinglyShop.API/bin/Debug/net8.0/zh-Hans/Microsoft.Data.SqlClient.resources.dll
/WinglyShop.API/bin/Debug/net8.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
/WinglyShop.API/bin/Debug/net8.0/runtimes/win-x86/native/sni.dll
/WinglyShop.API/bin/Debug/net8.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
/WinglyShop.API/bin/Debug/net8.0/runtimes/win-x64/native/sni.dll
/WinglyShop.Domain/obj/Debug/net8.0/WinglyShop.Domain.csproj.AssemblyReference.cache
